<h2>User Summary: <%= link_to @user.username, user_path(@user) %></h2>
<p>Joined site <%= render_date @user.created_at %></p>
<section class="user__container">
  <h3 class="user__header">product</h3>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%# <% @user.product.each do |product| %>
        <tr>
          <td><%= link_to %></td>
          <td><%=  %></td>
          <td><%=  %></td>
          <td><%=  %></td>
          <td><%=  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
<%= link_to "See all Product", users_path, class: "btn btn-secondary" %>
<%= link_to "Back to users page", root_path, class: "btn btn-primary" %>
