<h2> PRODUCTS </h2>
<div class="col-lg-9">
  <div class="row">
    <% @products.each do |product| %>
      <% if product.retired == "Active" %>
        <div class="col-sm-4 d-flex mb-4">
          <div class="card">
            <img src=<%= product.photo_url %> class="card-img-top img-fluid" alt="..." style="max-height: 120px">
            <h5 class="card-title"><%= product.name %>
              <p class="card-text"> <%= product.description %>
                <%= product.stock %>
                <%= product.price %>
                <%= link_to "See details", product_path(product.id), method: :get %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
