<div class="row mt-2">
  <div class="col-lg-3">
    <section class="mb-5 card side-nav">
      <div class="card-header">
        Merchants
      </div>
      <% @users.each do |user|%>
        <%= link_to user.username, products_path(merchantId: user.id), class:"list-group-item list-group-item-action #{user.id == @merchant_id.to_i ? 'active' : ''}" %>
      <% end %>
      <div class="card-header">
        Categories
      </div>
      <% @categories.each do |category|%>
        <%= link_to category.label, products_path(categoryId: category.id), class:"list-group-item list-group-item-action #{category.id == @category_id.to_i ? 'active' : ''}"  %>
      <% end %>
    </section>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <% @products.each do |product| %>
        <% if product.retired == "Active" %>
          <div class="col-sm-4 d-flex mb-4">
            <div class="card h-100" style="width: 18rem;">
              <img src=<%= product.photo_url %> class="card-img-top img-fluid" alt=<%= product.name %>>
              <div class="card-body">
                <h5 class="card-title">$<%= product.price %></h5>
                <div class="text-secondary"><%= product.name %></div>
                <div class="text-danger small">Available: <%= product.stock %></div>
                <div class="d-flex justify-content-center align-items-end mt-2">
                  <%= link_to "Add to cart", product_path(product.id), method: :get, class:"card-link btn btn-success btn-block align-self-end" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
