<h2>Show page</h2>

<%= @product.name %>
<%= image_tag @product.photo_url, alt: @product.photo_url %>
<%= @product.description %>
<%= @product.price %>

<%# <%= link_to "Add review", review_product_path(@product.id)%>

<h4>Reviews</h4>
<ul>
  <li>
    <% @product.reviews.each do |review| %>
      <%= review.rating %>
      <%= review.created_at %>
      <%= review.user_review %>
    <% end %>
  </li>
</ul>
