<main>
  <section class="product-top">
    <section>
      <%= image_tag @product.photo_url, alt: @product.photo_url %>
    </section>
    <section id="right-options-info">
      <section id="product-info">
        <h3><%= @product.name %></h3>
        <p>Sold by: <%= User.find_by(id: @product.user_id).username %></p>
        <p>Price: $<%= @product.price %></p>
        <p>Description: <%= @product.description %></p>
        
      </section>
      <section id="add-to-cart">
        <strong>Add to cart</strong>
        <%= form_with model: @order_item, url: add_to_cart_path(@product.id) do |f| %>  
          <%= f.label :quantity %>
          <%= f.text_field :quantity %>
          <%= f.submit "Add to Cart" %>
        <% end %>
      </section>
    </section>
  </section>


  <section class="reviews">
    <h4>Reviews</h4>
    <%= form_with model: @review, url: review_product_path(@product.id) do |f| %>

      <%= f.label :rating %>
      <%= f.text_field :rating %>

      <%= f.label :user_review %>
      <%= f.text_field :user_review %>

      <%= f.submit "Submt review" %> 
    <% end %>

    <% @product.reviews.each do |review| %>
    <ul>
      <li>
        <%= review.rating %>
        <%= review.created_at %>
        <%= review.user_review %>
      </li>
    </ul>
    <% end %>
  </section>
  
</main>